/* ===== BASE SITE CSS START ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* 0.625rem = 10px */
html {
  font-family: 'poppins', sans-serif;
  font-size: 0.625rem;
}

/* 1.6rem = 16px */
body {
  background-color: var(--bg-col-1);

  font-size: 1.6rem;
}
/* ===== BASE SITE CSS END ===== */

/* Header section */
nav {
  width: 100%;
  padding: 30px 40px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

nav > .nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > .nav_container > a > img {
  width: 40px;
}

nav > .nav_container > p {
  font-size: clamp(14px, 3vw, 18px);
  color: var(--font-col-1);

  letter-spacing: 0.5px;
}

/* Hero section */
.hero_section {
  max-width: 1440px;
  height: max-content;
  margin: 160px auto 0px;
}

.hero_section > .hero_container {
  display: grid;
  grid-template-columns: 1fr;

  position: relative;

  padding: 50px 30px;

  gap: 30px;
}

.hero_section > .hero_container > h2 {
  position: absolute;
  left: 30px;
  top: 10px;

  height: max-content;

  font-size: clamp(1.4rem, 3vw, 20px);
  font-weight: 400;
  color: var(--font-col-1);

  letter-spacing: 3px;
}

.hero_section > .hero_container > h1 {
  position: relative;
  left: -5px;

  height: 100%;

  font-size: clamp(6.5rem, 10vw, 100px);
  font-weight: 500;
  color: var(--font-col-1);

  letter-spacing: 3px;
  line-height: 75px;
}

.hero_section > .hero_container > p {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  max-width: 800px;
  height: 100%;

  font-size: clamp(1.8rem, 2vw, 27px);
  font-weight: 200;
  color: var(--font-col-1);

  line-height: clamp(3rem, 3vw, 42px);
  letter-spacing: 1px;
}

/* Cases section */
.cases_section {
  max-width: 1440px;
  margin: 0 auto;
}

.cases_section > .cases_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 50px 30px;
}

.cases_container > div {
  position: relative;
  height: max-content;
}

.cases_container > div > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
  /*   border: 2px #fff solid; */
}

.cases_container > div > img:hover {
  filter: brightness(50%);
  transition: ease-in-out;
  cursor: pointer;
}
