@media screen and (min-width: 550px) {
  /* Hero section */
  .hero_section > .hero_container h2 {
    top: 8px;
  }

  .hero_section > .hero_container > h1 {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .cases_section > .cases_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1250px) {
  /* Hero section */
  .hero_section {
    margin-top: 300px;
    height: 35vh;
  }

  .hero_section > .hero_container {
    grid-template-columns: 1fr 1fr;
    padding: 50px 100px;
    gap: 50px;
  }

  .hero_section > .hero_container > h2 {
    left: 105px;
  }

  .hero_section > .hero_container > h1 {
    left: 0;
    line-height: 130px;
    margin-top: 0px;
  }

  .hero_section > .hero_container > p {
    max-width: 100%;
    padding-bottom: 20px;
  }

  /* Cases section */
  .cases_section > .cases_container {
    padding: 50px 100px;
    grid-template-columns: 1fr 1fr;
  }
}
